nav {
    width: 90%;
    max-width: 136.1rem;
    height: 5.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 1rem;
    margin: 1rem auto;
    position: absolute;
    top: 1rem;
    left: 50%;
    z-index: 10;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
}


.nav_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    overflow: hidden;
    
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.login {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
}

.nav_post_job {
    padding: 1.6rem 2.5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    text-transform: capitalize;
    border-radius: 0.4rem;
    background-color: #00D363;
    cursor: pointer;

    -webkit-transition: background-color 250ms;
    -moz-transition: background-color 250ms;
    -ms-transition: background-color 250ms;
    -o-transition: background-color 250ms;
    transition: background-color 250ms;

}

.nav_post_job:hover {
    background-color: rgb(12, 170, 65);
}

@media screen and (max-width: 450px){
    .nav-logo {
        width: 16rem;
    }

    .nav_post_job {
        padding: 1.2rem;
    }

}

@media screen and (max-width: 400px){
    .nav-logo {
        width: 14rem;
    }

    .nav_post_job {
        padding: 1.2rem;
        font-size: 1.4rem;

    }

    .login {
        font-size: 1.6rem;
    }

}

@media screen and (max-width: 570px){

    nav {
        width: 100%;
        padding: 0 2rem;
    }

}
