.loader-container {
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-svg {
    position: relative;
    width: 150px;
    height: 150px;
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
}



.loader-svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10px;
    stroke: #0076dd;
    stroke-linecap: round;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    -webkit-transform: translate(5px,5px);
    -moz-transform: translate(5px,5px);
    -ms-transform: translate(5px,5px);
    -o-transform: translate(5px,5px);
    transform: translate(5px,5px);

    -webkit-animation: animate 4s linear infinite;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%, 100% {
        stroke-dashoffset: 440;

    } 50% {
        stroke-dashoffset: 0;
    } 50.1% {
        stroke-dashoffset: 880;
    }
}

@keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}