* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
    color: initial;

    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    text-overflow: ellipsis;
    position: relative;

}


button a {
    text-decoration: none;
    font: inherit;
    color: inherit;
    width: 100%;
    height: 100%;
}